# Xcode
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/xcshareddata/WorkspaceSettings.xcsettings
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/
!*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

# SwiftPM
.build/
.swiftpm/xcode/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Swift Package Manager
Package.resolved

# Derived Data
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Archives
*.xcarchive

# macOS Files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Spotlight
*.Spotlight-V100

# Trash
.Trashes

# Build products
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser

# Xcode Server & CI
xcuserdata/
.idea/

# Swift Playgrounds
timeline.xctimeline
playground.xcworkspace

# Core Data
*.sqlite
*.sqlite-shm
*.sqlite-wal

# Custom by user
*.log
*.tmp

# If using fastlane
fastlane/report.xml
fastlane/screenshots
fastlane/test_output

# If using Firebase
GoogleService-Info.plist
